<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conversor de Documentos - Converta e extraia dados de arquivos PDF, Imagens, Recibos, Extratos para formatos digitais como JSON e CSV</title>
    <meta name="description" content="Converta e extraia dados de  arquivos PDF, Imagens, Recibos, Extratos para formatos digitais como JSON e CSV" />
    <meta name="keywords" content="converta arquivos PDF, Imagens, Recibos, Extratos, formatos digitais, JSON, CSV, conversor, conversor de pdf, conversor de arquivos, conversor para json, conversor gratis, conversor pdf, conversor jpg, conversor documentos, extrair pdf, extrair dados pdf, leitor de arquivos, converter pdf, converter pra json, converter para csv, converter pdf para json, converter pdf para csv, extrair dados recibo, extrair dados bancarios, extract pdf, convert pdf, extract bank receipt" />
    <meta name="author" content="Conversor de Documentos" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="Portuguese" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="AI.Documents.Reader.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
